#searchoptions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#searchoptions button {
  width: 30rem;
  background-color: aquamarine;
  padding: 1rem;
  margin: 1rem;
}
#search {
  display: none;
  justify-content: center;
  border: 2px solid yellow;
}
select {
  width: 30rem;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid blue;
}
input {
  width: 30rem;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid blue;
}
#search button {
  width: 5rem;
  height: 3rem;
  margin: 1rem;
}

div {
  border: 1px solid violet;
}

#departments {
  display: none;
  justify-content: center;
  border: 2px solid pink;
}
.art {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.art div {
  width: 500px;
  text-align: left;
  padding: 1rem;
}

body {
  background-color: bisque;
}
#header div {
  display: none;
  text-align: center;
}

#objectContainer {
  display: none;
}
.title:hover {
  color: burlywood;
}
