#main {
  display: flex;
  flex-direction: column;
  font-family: "Hedvig Letters Serif", serif;
}

#top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.form {
  display: flex;
  justify-content: center;
}

#maincontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#searchoptions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#searchoptions button {
  width: 25vw;
  padding: 0.8rem;
  margin: 0.8rem;
  background-color: transparent;
  color: red;
  text-shadow: 1px 3px 2px white;
  font-size: 40px;
  border: 3px double red;
  text-transform: uppercase;
  font-family: "Hedvig Letters Serif", serif;
}

#search {
  display: none;
  justify-content: center;
}

select {
  width: 30rem;
  padding: 1rem;
  margin: 1rem;
  background-color: red;
  border: 3px double white;
  color: white;
  text-align: center;
  background-color: transparent;
  font-family: "Hedvig Letters Serif", serif;
  font-size: larger;
}

input {
  width: 30rem;
  padding: 1rem;
  margin: 1rem;
  color: white;
  text-align: center;
  background-color: red;
  border: 3px double white;
  background-color: transparent;
}

#search button {
  width: 5rem;
  height: 3rem;
  margin: 1rem;
  color: white;
  text-align: center;
  background-color: red;
  border: 3px double red;
  font-family: "Hedvig Letters Serif", serif;
  font-size: larger;
}

.form {
  background-color: red;
}

#departments {
  display: none;
  justify-content: center;
}
.art {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: larger;
}

.art div {
  margin: 1px;
  padding: 1rem;
  width: 33%;
  background-color: lightgray;
  border: 1px solid red;
  text-transform: uppercase;
  text-align: center;
}

body {
  background-color: lightgray;
}

#header div {
  display: none;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
}

#header {
  margin-top: 10px;
  text-align: center;
}

.title:hover {
  color: burlywood;
  background-color: red;
  cursor: pointer;
}
#searchButton:hover {
  color: burlywood;
  background-color: white;
  color: red;
  cursor: pointer;
}
#searchButton button:hover {
  color: burlywood;
  color: white;
}

button:hover {
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid red;
  width: 80%;
  align-items: center;
  text-align: center;
  font-family: "Hedvig Letters Serif", serif;
}

/* The Close Button */
.close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  img {
    max-width: 100%;
    max-height: 100%;
  }

  #searchoptions button {
    width: 70vw;
    padding: 0.8rem;
    margin: 0.8rem;
    background-color: transparent;
    text-shadow: 1px 1px 2px white;
    font-size: 20px;
    border: 3px double red;
    text-transform: uppercase;
  }

  #searchoptions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    bottom: 0px;
  }

  #main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
    align-items: center;
  }

  .form {
    background-color: lightgray;
  }

  #search {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

  select {
    width: 70vw;
    padding: 1rem;
    margin: 1rem;
    border: 3px double red;
    color: red;
    text-align: center;
    background-color: transparent;
    font-size: larger;
  }

  input {
    width: 70vw;
    padding: 1rem;
    margin: 1rem;
    color: white;
    text-align: center;
    border: 3px double red;
    background-color: transparent;
  }
  #search button {
    width: 5rem;
    height: 3rem;
    margin: 1rem;
    color: red;
    text-align: center;
    background-color: red;
    border: 3px double red;
    background-color: transparent;
    font-size: small;
  }
  .maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .artObjects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Hedvig Letters Serif", serif;
  }
  .art {
    width: 100%;
    display: flex;
    height: 60vw;
    flex-direction: column;
    align-items: center;
    border: 3px solid red;
    margin-top: 10px;
    border-radius: 10%;
    font-family: "Hedvig Letters Serif", serif;
  }
  .art div {
    width: 80%;
    padding: 0;
    background-color: lightgray;
    text-transform: uppercase;
    text-align: center;
    border: none;
  }
  .art .title {
    border-bottom: 3px solid darkgrey;
  }
  #header {
    display: none;
  }
  .artwork img {
    width: 80%;
  }
}
